.DS_Store
__pychache__
Docker/Cloudera/data/
Docker/Cloudera/var_lib/
cassandra-node-1/
cassandra-node-2/
cassandra-node-3/
.VSCode
metastore_db/
spark-warehouse/
spark-3.5.0-bin-hadoop3
derby.log
.ipynb_checkpoints
persistent-storage-1/
persistent-storage-2/
persistent-storage-3/
persistent-storage/
shared-storage/
*.ova
*.zip
*.iso
*.gz
*.vmdk
*.ovf
*.pyc
Resources.md
dse-n1/
dse-n2/
dse-n3/
dse-studio/
*.mkv
.DS_Store
NOT-FOR-RELEASE/
persistent-storage
pgadmin-data
pgadmin_data
MongoDB*
